link(rel="stylesheet", href="global.css", data-inline)

div#main
  div#header
    div.title #{app.name}
  div#content
    p.small IFC Checker
    p Here is your IFC Checker requested for the file #{ifcFilename}
    p
    p In the case that you need to contact us regarding this operation, please provide the following operation number: #{operationId}
  div#footer
    p.small-details 
    